<div class="container">
  <h3 class="text-center my-3">Create New Tune</h3>
  <hr>
  <!-- # form -->
  <button class="btn btn-secondary btn-block btn-sm p-0" (click)="showSongForm = !showSongForm">show/hide Song Data</button>

  <form [formGroup]="tuneForm">
    <div *ngIf="showSongForm" class="form-group form-inline">
      <!-- * title -->
      <label for="title" class="mr-2">Title (T:)</label>
      <input
        type="text"
        name="title"
        class="form-control mr-4"
        formControlName="title"
      >
      <!-- * composer -->
      <label for="composer" class="mr-2">Composer (c:)</label>
      <input
        type="text"
        name="composer"
        class="form-control float-right"
        formControlName="composer"
      >
    </div>

    <div *ngIf="showSongForm" class="form-group form-inline">
      <!-- * origin -->
      <label for="origin" class="mr-2">Origin (S:)</label>
      <input
        type="text"
        name="origin"
        class="form-control mr-4"
        formControlName="origin"
      >
      <!--  * Meter -->
      <label for="meter" class="mr-2">Meter (M:)</label>
      <select name="meter" id="meter" class="mr-4" formControlName="meter">
        <option value="2/4">2/4</option>
        <option value="3/4">3/4</option>
        <option value="4/4" selected>4/4</option>
        <option value="6/8">6/8</option>
        <option value="6/8">9/8</option>
        <option value="6/8">12/8</option>
      </select>
      <!-- * tempo -->
      <label for="tempo" class="mr-2">Tempo (Q:)</label>
      <input
        type="number"
        name="tempo"
        class="form-control"
        max="240"
        min="30"
        value=90
        formControlName="tempo"
      >
    </div>
  </form>
  <hr *ngIf="showSongForm"><!-- * end form -->

  <!-- # build buttons -->
  <button
    class="btn btn-secondary btn-block btn-sm p-0 m-0"
    (click)="showNoteBuild = !showNoteBuild"
  >show/hide Notes</button>

  <div *ngIf="showNoteBuild">
    <div
      style="display: inline-block;"
      (click)="onAddNoteValue($event)"
    ><!-- * box 1 -->
      <div id="pitch" class="btn btn-row bg-secondary p-0 mb-1">
        <button id="G" class="note btn btn-light m-1 btn-sm">G</button>
        <button id="A" class="note btn btn-light m-1 btn-sm active">A</button>
        <button id="B" class="note btn btn-light m-1 btn-sm">B</button>
        <button id="c" class="note btn btn-light m-1 btn-sm">C</button>
        <button id="d" class="note btn btn-light m-1 btn-sm">D</button>
        <button id="e" class="note btn btn-light m-1 btn-sm">E</button>
        <button id="f" class="note btn btn-light m-1 btn-sm">F</button>
        <button id="g" class="note btn btn-light m-1 btn-sm">G</button>
        <button id="a" class="note btn btn-light m-1 btn-sm">A</button>
      </div>
      <br>
      <div id="time" class="btn btn-row bg-secondary p-0">
        <button class="note btn btn-light m-1 p-0">
          <img id="t-8" src="../../../assets/btn-notes/whole.svg" alt="">
        </button>
        <button class="note btn btn-light m-1 p-0">
          <img id="t-6" src="../../../assets/btn-notes/half_dot.svg" alt="">
        </button>
        <button class="note btn btn-light m-1 p-0">
          <img id="t-4" src="../../../assets/btn-notes/half.svg" alt="e">
        </button>
        <button class="note btn btn-light m-1 p-0">
          <img id="t-3" src="../../../assets/btn-notes/quarter_dot.svg" alt="">
        </button>
        <button class="note btn btn-light m-1 p-0">
          <img id="t-2" src="../../../assets/btn-notes/quarter.svg" alt="">
        </button>
        <button class="note btn btn-light m-1 p-0">
          <img id="t-3/2" src="../../../assets/btn-notes/eight_dot.svg" alt="e">
        </button>
        <button class="note btn btn-light m-1 p-0 active">
          <img id="t-1" src="../../../assets/btn-notes/eight.svg" alt="">
        </button>
        <button class="note btn btn-light m-1 p-0">
          <img id="t-3/4" src="../../../assets/btn-notes/sixteen_dot.svg" alt="">
        </button>
        <button class="note btn btn-light m-1 p-0">
          <img id="t-1/2" src="../../../assets/btn-notes/sixteen.svg" alt="">
        </button>
      </div>
    </div>
    <button
      id="addNotes"
      class="btn btn-dark btn-lg m-3"
      style="display: inline-block;"
      (click)="onAddNoteToBody()"
    >{{ addNoteValue[0] }} {{ addNoteValue[1] }}</button>
    <hr>
  </div>

  <!-- # staff symbol buttons -->
  <button
    class="btn btn-secondary btn-block btn-sm p-0 m-0"
    (click)="showSymbolBuild = !showSymbolBuild"
  >show/hide Staff Parts</button>
  <div
    *ngIf="showSymbolBuild"
    id="symbols"
    class="btn btn-row bg-secondary p-0 mb-1"
    (click)="addStaffSymbols($event)"
  >
    <button id="|" class="note btn btn-light m-1 p-2">|</button>
    <button id="|:" class="note btn btn-light m-1 p-2">|:</button>
    <button id=":|" class="note btn btn-light m-1 p-2">:|</button>
    <button id="||" class="note btn btn-light m-1 p-2">|<strong>|</strong></button>
    <button id="nl" class="note btn btn-light m-1 p-2">new line</button>
    <button id="sp" class="note btn btn-light m-1 p-2">space</button>
  </div>
  <hr *ngIf="showSymbolBuild">

  <!-- # paper -->
  <div id="paper" class="card"></div>
  <!-- # audio buttons -->
  <div *ngIf="audioSuccess" id="audio-bar" class="btn btn-group bg-dark p-0">
    <!-- * restart -->
    <button id="restart" class="btn btn-secondary p-0 m-1" (click)="onRestart()">
      <img src="../../../assets/btn-audio/restart.svg" class="aud" alt="play button">
    </button>
    <!-- * play -->
    <button id="play" class="btn btn-secondary p-0 m-1" (click)="onPlay()" *ngIf="!playing">
      <img src="../../../assets/btn-audio/play.svg" class="aud" alt="play button">
    </button>
    <!-- * pause -->
    <button id="pause" class="btn btn-secondary p-0 m-1" (click)="onPause()" *ngIf="playing">
      <img src="../../../assets/btn-audio/pause.svg" class="aud" alt="play button">
    </button>
    <!-- * stop -->
    <!-- <button id="stop" class="btn btn-secondary p-0 m-1" (click)="onStop()" *ngIf="playing">
      <img src="../../../assets/btn-audio/stop.svg" alt="play button">
    </button> -->
    <!-- * loop -->
    <button id="loop" class="btn btn-secondary p-0 m-1" (click)="onLoop()" [class.btn-light]="clicked">
      <img src="../../../assets/btn-audio/loop.svg" alt="play button">
    </button>
  </div>

  <hr>

  <textarea
    name="abcEdit"
    id="abcEdit"
    cols="30"
    rows="10"
    class="form-control mb-4"
    [(ngModel)]="abcBody"
    (ngModelChange)="signalChange()"
  ></textarea>
  <!-- class="form-control m-2" -->
  <textarea
    hidden
    id="abcHidden"
    cols="30"
    rows="10"
    style="width: 100%;"
    ></textarea>
</div>