<div class="all">

  <div class="fluid-container">
    <div class="jumbotron jumbotron-fluid text-light">
      <h1 class="text-center">Bagpipe Tune Search</h1>
      <div class="container">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <p class="mx-5">This is a paragraph that may or may not contain useful information that will be changed in the future. It should competently explain the usage of this website in a minimum of words if it is written correctly.</p>
      </div>
    </div>
  </div>

  <footer class="bg-dark text-white-50">
    <div class="container">
      <a href="">about</a>
      <a href="">privacy</a>
      <a href="">contact</a>
    </div>
  </footer>
</div>