
@font-face {
  /* font-family: 'Roboto', sans-serif; */
  /* src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */
}


/* .all {

} */

h1 {
  text-shadow: 3px 3px 1px black;
}

a {
  padding-right: 20px;
}

.jumbotron {
  background-image: url('../../assets/black-watch-dress-asymmetrical.svg');

  background-size: 249px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.nav-button {
  border: none;
  background: none;
}

.nav-button:hover {
  color: white !important;
}