
@font-face {
  /* font-family: 'Roboto', sans-serif; */
  /* src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */
}
/* .all {
  font-family: 'Roboto', sans-serif;
} */

h1 {
  text-shadow: 3px 3px 1px black;
}

a {
  padding-right: 20px;
}

.jumbotron {
  /* background-image: url('../../assets/blackwatch.png'); */
  background-image: url('../../assets//campbell-of-breadalbane-3.svg');
  background-size: 30%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}
