<div id="paper" class="shadow bg-white">Sorry, there seems to be an error.</div>

<app-audio-interface
  [tuneBody]="tuneBody"
  class="mr-2"
></app-audio-interface>

<button class="btn btn-primary my-2 mr-2" (click)="saveAsAbc()">Save as ABC</button>
<button class="btn btn-primary my-2 mr-2" (click)="saveAsSvg()">Save as SVG</button>
<button class="btn btn-primary my-2 mr-2" (click)="saveAsPng()">Save as PNG</button>
<button class="btn btn-secondary my-2 mr-2" (click)="onPrint()">Print</button>
