<div class="container">
  <h3 class="text-center my-3">Login</h3>
  <div class="form-group">
    <form [formGroup]="loginForm" (ngSubmit)=onUserLogin()>

      <!-- * username input -->
      <label for="username">Username</label>
      <input
        type="test"
        class="form-control"
        name="username"
        formControlName="username"
      >
      <hr>
      <!-- * password input -->
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        formControlName="password"
      >
      <hr>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <hr>
  <a routerLink="/signup">
    <button class="btn btn-secondary">Signup</button>
  </a>
</div>
